.container{
    display: flex;
    flex: column;
    gap: 8px;
    justify-content: center;
}
.container label{
    font-weight: 600;
    font-size: 1rem;
    color: #313131;
}
.container input{
    border-radius: 7px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    color: #000;
    font-weight: 600;
}