.btn-success{

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
.btn-danger{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10px;
}
